[project]
name = "ballbalancingrobot"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "argparse>=1.4.0",
    "gpiozero>=2.0.1",
    "opencv-python>=4.11.0.86",
    "pigpio>=1.78",
    "simple-pid>=2.0.1",
]

[dependency-groups]
dev = [
    "matplotlib>=3.10.3",
    "pytest>=8.4.1",
]
